Django==4.2.30
djangorestframework==3.17.1
django-cors-headers==4.9.0
django-filter==23.5
djangorestframework_simplejwt==5.5.1
# token_blacklist is bundled inside simplejwt — no separate package needed

gunicorn==25.3.0
whitenoise==6.12.0

dj-database-url==3.1.2
psycopg2-binary==2.9.11

asgiref==3.11.1
sqlparse==0.5.5
PyJWT==2.10.1

google-auth==2.*
google-auth-oauthlib==1.*
google-api-python-client==2.*
python-dotenv==1.2.2
gspread==6.1.2
cloudinary==1.44.2
django-cloudinary-storage==0.3.0